[submodule "magi_system/imagesnoop"]
	path = magi_system/imagesnoop
    url = https://github.com/risingfbk/imagesnoop.git
	branch = main
[submodule "magi_system/containerdsnoop"]
	path = magi_system/containerdsnoop
    url = https://github.com/risingfbk/containerdsnoop.git
	branch = pullimage-only
